 :root {
    --roxo_principal:#DDA0DD;
    --branco_principal:#F8F8FF;
    --laranja_principal:	#FF8C00;
    
}

body{
    color:var(--roxo_principal);
    /* background-image: url(img_tcc/background-img_2.png); */
    background-size: contain; 
    background-repeat: no-repeat;
    align-items: center; 
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

.img_header {
    width: 5%;

}

.button_header {
    background-color: var(--laranja_principal);
    color: var(--laranja_principal);
    display: inline-block;
    padding: 10px;
    font-size: 8px;
    width: 5%;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center
    
}

.div_container {
    margin-left: 33%;
    width: 33%;
    
}

.titulo {
    font-size: 28px;
    color: var(--laranja_principal);
}

.paragrafo {
    font-size: 20px;
    margin-top: 2%;
    color: var(--branco_principal);
}

.principal {
    
}

.img {
    width: 50%;
    margin-right: auto;
    
} 