body{
    
    background-image:url(img/background_telalogin.png) ;
    /* background-repeat: no-repeat; */

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    width: 400px;
    margin: 15% auto;
    height: 320px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.356);
}

 .div_caixa_texto {
    /*
     margin: 1%;
     display: flex;
     align-items: center;
     padding: 1px;
     */
     
} 

.input_text {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: 	rgb(240,240,240);
    margin: auto;
    display: flex;
    /* align-items: center; */
    transform: translateY(-35px);
    

}

.input_pass {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: 	rgb(240,240,240);
    margin: auto;
    display: flex;
    transform: translateY(-22px); 
}



h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.h1_login {
    /* display: flex; */
    margin: auto;
    transform: translateY(-20px); 
}

.button {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%; 
    margin: auto;
    margin-bottom:30px;
    padding: 7px;
    background-color: #7f0a9c;
    color: #fff;
    border: none; 
    border-radius: 7px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;

}

.div_esquece_senha {
    /* margin-top: 10px;
    margin-right: 65px;
    margin-bottom: 20px; */
    text-decoration: none;
    /* margin: auto; */
    /* margin-left: 30px; */
    transform: translateX(40px);
    
    
}

.esqueceu_senha {
    text-decoration: none;
    
}