* {
    margin: 0%;
    padding: 0%;
}

:root {
    --nav-color: #FFFFFF;
}

body {
    height: 100vh;
    /* background-color: blueviolet; */
    box-sizing: border-box; /*propriedade que mantem os elementos sempre dentro do container */
}

.bonfire {
    display: flex; /*apenas pra manter o site mais responsivo*/
}

.header_container {
    padding: 1% 0 0 1%;
     /* superior, direito, inferior, esquerdo*/
    background-color: rgb(85, 88, 88);
    border: 2px solid; 
    
}

.nav_container {
    display: flex;
    gap: 7%; /* espacamento dos elementos dentro desse container*/
    background-color: blue;
    border: 2px solid;
    align-items: center; /* centralizou os itens ao container*/
    justify-content: center; /*centralizou os iten no meio da tela*/
    
}

.button_header {  /*estilizacao do botao*/
    color: #FF7A33;
    border: 2px solid; 
    border-radius: 30px; /*arredondamento da borda*/
    padding: 4px 8px 4px 8px; /*superior, direito, inferior, esquerdo */
    /* padding: 0.5% 1% 0.5% 1%; */
    font-weight: bold;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--nav-color);
    font-weight: 600;
}

.main_container {
    background-color: bisque;
    display: flex; /*elementos em linha*/
    align-items: center;
    justify-content: center; /*elementos centralizado na mesma linha*/
    max-width: 100%;
    padding: 5% 0 0 0; /*espcaçamento superior, direito, inferior, esquerdo*/ /* deslocando o container main para baixo */
}

.div_texto_main_container {
    /* background-color: #FF7A33; */
    max-width: 50%; /*largura*/
    /* border: 2px solid black; */
    text-align: center; /* texto alinhado dentro do container*/
    border: 2px solid rgb(81, 7, 252);
    
    
    
    
    
}

.h1_main {
    background-color: aquamarine; 
    border: 2px solid black;
    padding: 0 0 3% 0; /*espaçamento superior, direito, inferior, esquerdo*//*espaçamento entre h1 e paragrafo*/
    font-size: 2.0rem;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(184, 121, 184);
}

.p_main {
    font-size: 1.0rem; /*tamanho da fonte em unidade de medida diferente*/
    font-family: Arial, Helvetica, sans-serif; 
    color: var(--nav-color);
    font-weight: 900; /*engrossamento da fonte*/
    background-color: #FF7A33;
    border: 2px solid black;
    
}

.img_main {
    background-color: brown;
    max-width: 20%; 
    margin: 0 2% 0 2%; /*espaçamento superior, direito, inferior, esquerdo*/ /* deslocando as imagens para os cantos*/
    
}