* {
    margin: 0%;
    padding: 0%;
}

:root {
    --nav-color: #FFFFFF;
    --title-color:#FF7A33;
}

body {
    /* background-image: url(img_tcc/background-img_2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    height: 100vh;
    /* background-color: blueviolet; */
    box-sizing: border-box; /*propriedade que mantem os elementos sempre dentro do container */
}

.bonfire {
    display: flex; /*apenas pra manter o site mais responsivo*/
}

.header_container {
    padding: 1% 0 0 1%;
     /* superior, direito, inferior, esquerdo*/
    background-color: rgb(85, 88, 88);
    border: 2px solid; 
    
}

.nav_container {
    display: flex;
    gap: 7%; /* espacamento dos elementos dentro desse container*/
    background-color: blue;
    border: 2px solid;
    align-items: center; /* centralizou os itens ao container*/
    justify-content: center; /*centralizou os iten no meio da tela*/
    
}

.button_header {  /*estilizacao do botao*/
    color: #FF7A33;
    border: 2px solid; 
    border-radius: 30px; /*arredondamento da borda*/
    padding: 4px 8px 4px 8px; /*superior, direito, inferior, esquerdo */
    /* padding: 0.5% 1% 0.5% 1%; */
    font-weight: bold;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--nav-color);
    font-weight: 600;
}

.main_container {
    background-color: bisque;
    display: flex; /*elementos em linha*/
    align-items: center;
    justify-content: center; /*elementos centralizado na mesma linha*/
    max-width: 100%;
    padding: 5% 0 0 0; /*espcaçamento superior, direito, inferior, esquerdo*/ /* deslocando o container main para baixo */
}

.div_texto_main_container {
    /* background-color: #FF7A33; */
    max-width: 50%; /*largura*/
    /* border: 2px solid black; */
    text-align: center; /* texto alinhado dentro do container*/
    border: 2px solid rgb(81, 7, 252);
    
    
    
    
    
}

.h1_main {
    background-color: aquamarine; 
    border: 2px solid black;
    padding: 0 0 3% 0; /*espaçamento superior, direito, inferior, esquerdo*//*espaçamento entre h1 e paragrafo*/
    font-size: 2.0rem;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(184, 121, 184);
}

.p_main {
    font-size: 1.0rem; /*tamanho da fonte em unidade de medida diferente*/
    font-family: Arial, Helvetica, sans-serif; 
    color: var(--nav-color);
    font-weight: 900; /*engrossamento da fonte*/
    background-color: #FF7A33;
    border: 2px solid black;
    
}

.img_main {
    background-color: brown;
    max-width: 20%; 
    margin: 0 2% 0 2%; /*espaçamento superior, direito, inferior, esquerdo*/ /* deslocando as imagens para os cantos*/
    
}

.section_container_2 {
    background-color: brown;
    border: 2px solid black;
    display: flex;
    text-align: center; /* texto centralizado no container inserido */
    justify-content: center; /* centralizou na mesma linha*/
    /* align-items: center; */
    /* width: 100% ; */
    gap:6%;
    padding: 8% 5% 0 5%; /*superior direito inferior e esquerdo*/
    
}   

.div_texto_section {
    /* background-color: rgb(4, 124, 84); */
    /* border: 2px solid rgb(24, 218, 6); */
    width:35%;
    

    

}

.h1_pagina2 {
    /* background-color: rgb(3, 3, 46); */
    /* border: 2px solid rgb(25, 198, 221);  */
    margin: 0 0 10% 0;
    font-size: 2.0rem;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--title-color);
        

}

.p_section_2 {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--nav-color);
}

.imagem_section_2 {
    /* background-color: aliceblue;
    border: 2px solid purple; */
    width: 50%;
    
}

.section_container_3 {
    display: flex;
    background-color: aqua;
    border: 2px solid purple;
    justify-content: center;
    
}

.h1_pagina3 {
    background-color: bisque;
    border: 2px solid white;
}

.div_texto_section_2 {
    background-color: brown;
    border: 2px solid rgb(252, 0, 0);
}

.imagem_section_3 {
    background-color: blueviolet;
    border: 2px solid rgb(9, 192, 9);
}