body {
    background-image: url(img/backgroundLogin.png);
    background-size: cover; /* Faz a imagem cobrir toda a área, sem distorção */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center center; /* Centraliza a imagem no fundo */
    height: 100vh; /* A altura da página será igual à altura da janela de visualização */
    margin: 0; /* Remove a margem padrão */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    background-color: white;
    padding: 15px;
    padding-top: 10px;
    width: 618px;
    margin: 15% auto;
    box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);

}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 67px;
    margin-bottom: 0;
}

.h1_login {
    margin-bottom: 0;
    transform: translateY(-20px);
    margin-top: 15px;
    align-items: center;
    padding: 0px;
    text-align: center;

}

/* Estilo para o campo de Email ou Telefone */
.div_caixa_texto.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    background: #F2F2F2;
    border-radius: 10px;
    width: 505.64px;
    height: 54.62px;
    margin: 15px auto;
}

.div_caixa_texto.email::before {
    content: url('img/icone@.png'); /* Caminho para o ícone de email */
    width: 22px;
    height: 22px;
    flex-shrink: 0;
}

.input_text {
    width: 330px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: none;
    color: #5E5E5E;
    border: none;
    background: none;
    flex-grow: 1;
    outline: none;
    text-decoration: none;
}


/* Estilo para o campo de Senha */
.div_caixa_texto.senha {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    background: #F2F2F2;
    border-radius: 10px;
    width: 505.64px;
    height: 54.62px;
    margin: 9px auto;
}

.div_caixa_texto.senha::before {
    content: url(img/lock.png); /* Caminho para o ícone de senha */
    width: 23px;
    height: 23px;
    flex-shrink: 0;
}

.input_pass {
    width: 330px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: none;
    color: #676767;
    border: none;
    background: none;
    flex-grow: 1;
    outline: none;
    text-decoration: none;
}


.div_esquece_senha {
    margin-top: 50px;
    margin-right: 65px;
    margin-bottom: 10px; 
    text-decoration: none;
    margin: auto; 
    margin-left: 10px; 
    transform: translateX(40px);
    width: 197.84px;
    height: 100px;
    position: relative;

}

.esqueceu_senha {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #3C1C57;  
      
}

.button {
    display: flex; /* Habilita o uso do Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    padding: 10px 15px;
    gap: 10px;
    background: #F2F2F2;
    border-radius: 15px;
    width: 520px;
    height: 54.62px;
    margin: 20px auto;
    position: relative;

    border: none;
    background: #8B3FCB;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.02), 0px 0px 0px 1px rgba(27, 31, 35, 0.15);
    border-radius: 15px;
    cursor: pointer; 

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    

}
    